/* CSS style sheet */

* {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Century Gothic";
    list-style: none;
    text-decoration: none;
}

body {
    background: #9b59b6;
}

.card {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f1f1f1;
    transform: translate(-50%, -50%);
}